.header
  グループを作成しました
.wid
  .wid__use
  .wid__mess
    test 
  .wid__icon
  =link_to "https://www.facebook.com/", class: "wid__icon" do
    = fa_icon "edit"
  .wid__icon2    
  =link_to "https://fontawesome.com/", class: "wid__icon2" do
    = fa_icon "cog" 
  .wid__chat  
  .wid__board-a
  .wid__tex
    test-group
  .wid__board-b
  .wid__tex2
    Menber:menber
  .wid__edit
    EDIT  
.mid
  .mid__pla
  .mid__str
    test
  .mid__pla2
  .mid__str2
    さようなら   
  .mid__pla3  
  .mid__str
    sample-group
  .mid__pla2
  .mid__str2
    hello!
  .mid__pla3  
  .mid__str
  .mid__pla2
  .mid__str2
    まだメッセージがありません
  .mid__pla0  
  .mid__pla4
  .mid__str3
    text-user
  .mid__str4
    2019/0804/1256
  .mid__pla5    
  .mid__str5
    こんにちは
  .mid__pla6    
  .mid__str6
    test
  .mid__str7
    さようなら  
.op  
  .op__bot
  .op__lef
  .op__com
    type a message
  .op__icon3
  =link_to "https://www.facebook.com/", class: "op__icon3" do
    = fa_icon "image "
  .op__btn
  =link_to "https://www.facebook.com/", class: "op__btn" do
    = fa_icon "paper-plane"
    
  